@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 19:20:44
 * @version $Id$
 */

.content .body{width: 1200px; height: auto; margin: 0px auto;}
.content .body .news_list{width: 1080px;height: auto;float: right;}
.content .body .news_list ul{ width: 950px; margin: 0 auto; }
.content .body .news_list ul li{width :950px; height: 210px; background: #fee5bc; margin: 0px auto 34px; behavior:url(js/PIE.htc); position: relative;}
.content .body .news_list ul li:hover{box-shadow: 5px 5px 10px #d2b88d;behavior:url(js/PIE.htc); position: relative;}
.content .body .news_list ul li span{ font-size: 12px;font-family: "微软雅黑";margin-bottom: 18px; display: block; display: none; color: #ff3636;}
.content .body .news_list ul li h2{ line-height: 87px; text-align: center;}
.content .body .news_list ul li h2 a{ font-size: 18px;font-family: "微软雅黑";}
.content .body .news_list ul li p{ font-size: 12px;font-family: "微软雅黑"; margin-bottom: 24px;display: none; color: #ff3636;}
.content .body .news_list ul li .more{ width: 98px; height: 28px;display: block;text-align: center; line-height: 26px;font-size: 12px;font-family: "微软雅黑"; color:#121212; border: 1px solid #4c4c4c; position: relative; left: 220px; box-shadow: 5px 5px 10px transparent;text-shadow: 2px 2px 5px transparent; margin-right: 250px;}
.content .body .news_list ul li:hover span{ margin-bottom: 0px; display: block; }
.content .body .news_list ul li:hover h2{ line-height: 56px; }
.content .body .news_list ul li:hover h2 a{ color: #ff3636; font-size: 14px; }
.content .body .news_list ul li:hover p{ display: block; }
.content .body .news_list ul li:hover .more{ box-shadow: 5px 5px 10px #d2b88d;text-shadow: 2px 2px 5px #ff3636; color: #ff3636; border: 1px solid transparent;/* behavior:url(js/PIE.htc); position: relative;*/ float: right;}
.content .body .news_list li > a{position: relative; width: 300px; height: 200px; float: left;}


.content .body .news_list li > a:after{ content: ""; display: block;
width: 0;
height: 0;
border-width: 20px;
border-style: solid;
border-color: transparent #fee5bc transparent transparent; z-index: 99;position: absolute;top: 90px;left: 280px;}
.content .body .news_list img{width: 300px; height: 200px;}
.content .body .news_list img{width: 300px; height: 200px; float: left;margin: 5px 0px 5px 20px;}


.content .body .news_list .new{width: 540px; height: 180px; float: right; margin:30px 40px 0px 40px;}
.content .body .news_list span{font-size: 12px;font-family: "微软雅黑";margin-bottom: 18px; display: block; display: none;}
.content .body .news_list h4 a{font-size: 14px;font-family: "微软雅黑"; text-align: center; margin-bottom: 24px;display: none; color: #ff3636;}
.content .body .news_list h5{font-size: 18px;font-family: "微软雅黑"; text-align: center; line-height: 105px;}
.content .body .news_list p{font-size: 12px;font-family: "微软雅黑"; margin-bottom: 24px;display: none;}
.content .body .news_list .more{width: 98px; height: 28px;display: block;text-align: center; line-height: 26px;font-size: 12px;font-family: "微软雅黑"; color:#121212; border: 1px solid #4c4c4c; position: relative; left: 220px;}
.content .body .news_list .special{width: 98px; height: 28px;background: #fee5bc; display: block;text-align: center; line-height: 26px;font-size: 12px;font-family: "微软雅黑"; color:#121212; border: 1px solid #4c4c4c; position: relative; left: 420px;display: none;}

.page{width: 1080px; height: 100px; text-align: center;margin: 0px auto; float: right;}
.page ul{width: auto; height: 17px; text-align: center;}
.page ul li{width: 33px; height: 13px; display: inline-block; background: #fff; line-height: 13px; font-family: "宋体"; font-size: 12px;color: #121212; border: none}
.page a{display: block; font-family: "微软雅黑"; font-size: 12px; color: #121212;}
.page a:hover{background: #fee5bc; color: #ff3636; border: 1px solid #ff3636;}
.page .last{width: 60px; border:none;}
.page .last:hover{color:#ff3636;}
.page .next{width: 60px; border:none;}
.page .current{background: #fee5bc; color: #ff3636; border: 1px solid #ff3636;}